:root {
    --bg-color: #1F242D;
    --second-bg-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    --text-color: #fff;
    --main-color: #d4b998;
}

html {
    font-size: 62.5%; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Add a fallback font */
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Adjustments for different screen sizes */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .services {
        padding: 7rem;
    }
    .projects {
        padding-bottom: 7rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 760px) {
.header{
 width: 99%; 
}
    

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home,
    .about {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .about img {
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2,
    .projects h2 {
        margin-bottom: 3rem;
    }
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 365px) {
    .home-img img,
    .about-img img {
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}
